{% extends 'login/base.html' %}

<!-- Añade el contenido estático -->
{% load static %}

<!-- Añade el título de la página -->
{% block title %} Registrarse {% endblock %}

<!-- Añade el contenido de la página -->
{% block content %}
<!-- Crear usuario -->
<form class="form" method="post">
  <div class="container">
    <div class="row">
      <div class="card bg-light">
        <div class="card-body">
          <div class="card-title text-black">
            <h2 class="fw-bold">Nuevo usuario</h2>
          </div>
          {% csrf_token %} {{form.as_p}}
          <button type="submit" id="submit" class="btn btn-dark">
            Registrarse
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Mensaje de creación de usuario exitoso -->
{% if messages %} {% for message in messages %}
<div class="notification {{ message.tags}}">{{ message }}</div>
{% endfor %} {% endif %} {% endblock %}
